@page "/"
@using HomeRunTracker.Frontend.Components
@inject NavigationManager NavigationManager

<PageTitle>Home Run Tracker: @Date.ToString("D")</PageTitle>

<div class="bg-black">
    <div class="flex-row d-flex justify-content-center">
        <button @onclick="RemoveDay" class="btn-primary p-2 m-2">
            Previous day
        </button>
        
        <h2 class="p-3 m-2">
            @Date.ToString("D")
        </h2>
        
        <button @onclick="AddDay" disabled="@_isDateGreaterOrEqualToToday" class="btn-primary p-2 m-2">
            Next day
        </button>
        
        <button @onclick="GoToToday" class="btn-primary p-2 m-2">
            Today
        </button>
    </div>
    
    <ScoringPlayTable DateTime="Date"/>
</div>