@page "/"

<PageTitle>Index</PageTitle>

<div>
    <div style="display: flex; flex-direction: row">
        <button @onclick="RemoveDay">
            Previous day
        </button>
        
        <div>
            @Date.ToString("D")
        </div>
        
        <button @onclick="AddDay" disabled="@_isDateGreaterOrEqualToToday">
            Next day
        </button>
        
        <button @onclick="GoToToday">
            Today
        </button>
    </div>
    
    <HomeRunTable DateTime="Date"/>
</div>

@code
{
    private bool _isDateGreaterOrEqualToToday = true;
    private DateTime _date = DateTime.Today;
    
    private DateTime Date
    {
        get => _date;
        set
        {
            _date = value;
            _isDateGreaterOrEqualToToday = value >= DateTime.Today;
        }
    }

    private void AddDay()
    {
        Date = Date.AddDays(1);
    }

    private void RemoveDay()
    {
        Date = Date.AddDays(-1);
    }

    private void GoToToday()
    {
        Date = DateTime.Today;
    }
}